.deskstyle{
    width: 35vw;
    position: absolute;
    bottom: -3.25%;
    left: -10%;
    z-index:-1;
}

.background{
    background-color:aliceblue;
    z-index: -2;
}

.top-gradient{
    height: 10px;
    width: 100%;
    background: linear-gradient(#00141D,transparent);
    background-color: aliceblue;
}

.bottom-gradient{
    height: 10px;
    width: 100%;
    background: linear-gradient(transparent,#00141D);
    background-color: aliceblue;
}

.content{
    display: flex;
    justify-content: space-between;
    width:85%;
    margin: auto;
}

.Col{
    width:30%;
    margin-top: 4%;
    z-index: 2;
    position: relative;
}


.title-blurb{
    width: 100%;
    text-align: left;
    z-index: 1;
}

.title-blurb h1{
    font-size: 4.5vw;
    color: #3d667b;
    font-weight: 1000;
    margin-bottom: 0%;
}

.title-blurb h2{
    font-size:2.1vw;
    color: #001B25;
}

.card{
    width: 100%;
    text-align: left;
    padding: 5%;
    margin-bottom: 5%;
    border-radius: 2vw;
    transition: 1s ease-in-out;
}

.card:hover{
    background-color: #81b6d050;
    color: #001B25;
    transition: 0.5s;
    transform: scale(1.01);
    cursor: pointer;
}

.card h2{
    padding-top: 0%;
    margin-top: 5%;
    margin-bottom: 0%;
}

.card h3{
    font-size:1vw;
    margin-top: 2%;
    margin-bottom: 0%;
}

.card p{
    margin-top: 2%;
    font-weight:550;
}

.cardImage{
    width: 100%;
    border-radius: 1.5vw;
    padding-bottom: 0%;
}

.skillsp{
    color:#3d677b;
    display: flex;
    font-size: 0.75vw;
}

.skillp{
    width: fit-content;
    height: fit-content;
    border-radius: 1vw;
    background-color: #3d677b21;
    margin-right: 3%;
    padding-left: 2%;
    padding-right: 2%;
    font-weight: 700;
    text-align: center;
}

.link{
    margin-top: 0%;
    font-size: 1vw;
    color:#3d677b;
    text-decoration: underline;
    position:relative;
}

@media screen and (max-width:768px){
    .content{
        display: inline;
    }

    .Col{
        width:100%;
    }

    .title-blurb{
        width: 85%;
        margin: auto;
        z-index: auto;
    }

    .title-blurb h1{
        font-size: 14vw;
        font-weight: 1000;
    }

    .title-blurb h2{
        margin-top: 5%;
        font-size: 7vw;
        margin-bottom: 0%;
    }

    .deskstyle{
        width:100%;
        margin-left: 7.5%;
        position:absolute;
        top: 27.5%;
    }

    .coloumn{
        width:100%;
    }

    .card{
        width: 80%;
        margin-bottom: 0%;
        margin-left: 5%;
    }

    .card h3{
        font-size: 4vw;
    }
    
    .cardImage{
        width: 100%
    }

    .skillsp{
        font-size: 2.5vw;
    }

    .skillp{
        border-radius:3.5vw;
    }
}

@media screen and (min-width:769px) and (max-width: 900px){

    .content{
        display: inline

    }

    .title-blurb{
        width:90%;
        margin-left:5%;
    }

    .title-blurb h1{
        font-size: 15vw;
    }

    .title-blurb h2{
        font-size: 6vw;
        margin-top:2%;
    }

    .Col{
        width: 90%;
        display: flex;
        flex-wrap:wrap;
        flex-direction:row;
        margin-left: 5%;
    }

    .card{
        width: 40%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        padding: 2%;
    }

    .skillsp{
        font-size: 1.5vw;
        flex-wrap: wrap;
    }

    .skillp{
        border-radius:3.5vw;
        margin-bottom: 2%;
    }

    .card h3{
        font-size: 2vw;
    }
}