.Hero{
    height: 100vh;
    max-width: 100vw;
    overflow-y: hidden;
    overflow-x: hidden;
    color:#333333;
    display: flex;
    align-items:flex-end, center;
    flex-direction: column;
    background-image: url('./statics/IMG_0190.jpg');
    background-size: cover;
}
  .Nametag{
    height: max-content;
    width: 50%;
    line-height: 0%;
    font-size: 2vw;
    overflow-y:hidden;
    position:relative;
    margin: auto;
    top: 5%;
  }

  .Bigname{
    font-size: 8.5vw;
    color: #333333;
  }
  
  .Name{
    margin-bottom: 17%;
    margin-top: 11%;
  }
  .Lastname{
    line-height: 0%;
    margin-top:0%;
    margin-bottom:10%;
  }

  .Scroll{
    height:fit-content;
    position:relative;
    font-size: 1.5vw;
    line-height:0%;
  }

  .Arrowstyle{
    height: 4vw;
    width: 4vw;
    margin-top:0%;
  }

  @media screen and (max-width: 1200px){
    .Hero{
      background-image: url('./statics/IMG_0190.jpg');
      background-position: 55% center;
    }

    .Nametag{
      width: 90%;
      top: 0%;
      font-size: 7vw;
    }

    .Bigname{
      font-size: 20vw;
      padding:1%;
    }

    .Name{
      margin-bottom: 21%
    }

    .Scroll{
      font-size: 4vw;
    }

    .Arrowstyle{
      display: none;
    }
  }